In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
     ---------------------------------------- 10.8/10.8 MB 5.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from pandas) (1.24.1)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.3 tzdata-2023.3

In [5]:
!pip install seaborn

Collecting seaborn
  Using cached seaborn-0.12.2-py3-none-any.whl (293 kB)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from seaborn) (3.7.3)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from seaborn) (1.24.1)
Requirement already satisfied: pandas>=0.25 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (22.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.42.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.1)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.11.0)
Requirement already satisfied: six>=1.5 in c:\users\aswin\anaconda3\envs\opentensor\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv('room_areas.csv')

In [9]:
data.head(20)

,Image ID,Room 0 Area (sq. meters),Room 1 Area (sq. meters),Room 2 Area (sq. meters),Room 3 Area (sq. meters),Room 4 Area (sq. meters),Room 5 Area (sq. meters),Room 6 Area (sq. meters),Room 7 Area (sq. meters),Room 8 Area (sq. meters),Room 9 Area (sq. meters)
0,0,40.282471,15.721436,4.597778,4.983398,0.000000,0.000000,0.000000,10.480957,0.000000,6.199585
1,1,51.831299,20.507080,5.018005,2.185181,0.000000,11.158264,0.000000,17.491333,0.000000,2.689453
2,2,38.448303,14.871094,8.429260,5.072388,0.000000,0.000000,0.000000,12.280518,12.997375,4.805420
3,3,28.768250,11.093994,3.599121,2.442261,0.000000,7.573975,0.000000,8.048584,0.000000,4.805420
4,4,32.382202,12.814453,5.472839,3.737549,0.000000,0.000000,0.000000,13.081421,0.000000,4.118225
5,5,44.578674,13.249512,9.175781,3.371704,0.000000,12.137146,9.492188,0.000000,0.000000,0.000000
6,6,24.150696,11.568604,4.983398,4.004517,0.000000,0.000000,4.884521,9.966797,0.000000,1.868774
7,7,33.385803,12.740295,6.644531,2.966309,0.000000,0.000000,0.000000,16.097168,0.000000,6.362732
8,8,31.373657,14.337158,7.840942,6.941162,0.000000,0.000000,0.000000,11.761414,0.000000,3.697998
9,9,34.631653,15.123230,7.203186,8.236450,0.000000,0.000000,0.000000,12.280518,0.000000,1.631470
10,10,38.225830,30.394775,5.087219,4.844971,0.000000,0.000000,0.000000,11.870178,0.000000,0.000000
11,11,37.251892,18.218079,4.152832,2.906982,0.000000,0.000000,0.000000,9.492188,0.000000,1.458435
12,12,34.409180,13.867493,4.108337,4.449463,0.000000,0.000000,0.000000,9.254883,0.000000,4.034180
13,13,29.910278,19.300781,4.256653,4.785645,0.000000,0.000000,6.051270,12.967712,5.003174,3.381592
14,14,32.154785,11.148376,5.141602,6.684082,15.751099,0.000000,11.212646,11.271973,0.000000,0.000000
15,15,28.407349,15.335815,5.912842,2.729004,0.000000,0.000000,0.000000,21.451355,0.000000,6.555542
16,16,27.280151,17.575378,6.451721,5.210815,0.000000,0.000000,0.000000,16.334473,0.000000,0.000000
17,17,25.777222,15.662109,9.447693,5.205872,4.241821,0.000000,0.000000,15.988403,0.000000,7.069702
18,18,23.493164,12.666138,11.148376,6.080933,0.000000,0.000000,0.000000,14.475586,0.000000,4.271484
19,19,31.586243,12.666138,10.144775,4.291260,0.000000,0.000000,0.000000,11.835571,0.000000,6.555542

In [10]:
data.columns

Index(['Image ID', 'Room 0 Area (sq. meters)', 'Room 1 Area (sq. meters)',
       'Room 2 Area (sq. meters)', 'Room 3 Area (sq. meters)',
       'Room 4 Area (sq. meters)', 'Room 5 Area (sq. meters)',
       'Room 6 Area (sq. meters)', 'Room 7 Area (sq. meters)',
       'Room 8 Area (sq. meters)', 'Room 9 Area (sq. meters)'],
      dtype='object')

In [11]:
data.shape

(80788, 11)

In [13]:
for i in data.columns:
    print(i,"Minimum Value: ",min(data[i]),"Maximum Value: ",max(data[i]))

Image ID Minimum Value:  0 Maximum Value:  80787
Room 0 Area (sq. meters) Minimum Value:  16.13671875 Maximum Value:  61.82775879
Room 1 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  56.19177246
Room 2 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  29.50982666
Room 3 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  27.8536377
Room 4 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  35.02716064
Room 5 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  32.94580078
Room 6 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  39.1305542
Room 7 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  54.54547119
Room 8 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  30.43927002
Room 9 Area (sq. meters) Minimum Value:  0.0 Maximum Value:  46.48699951

There is always a room of type Room 0 in our dataset