Importing necessary packages

In [1]:
import pandas as pd
import numpy as np

In [11]:
df1=pd.read_csv('filtered1new.csv')
df2=pd.read_csv('filtered2new.csv')

In [12]:
df1.columns

Index(['Unnamed: 0', 'Image ID', 'Room 0 Area (sq. meters)',
       'Room 1 Area (sq. meters)', 'Room 2 Area (sq. meters)',
       'Room 3 Area (sq. meters)', 'Room 4 Area (sq. meters)',
       'Room 5 Area (sq. meters)', 'Room 6 Area (sq. meters)',
       'Room 7 Area (sq. meters)', 'Room 8 Area (sq. meters)',
       'Room 9 Area (sq. meters)', 'Total Area', 'room0_valid', 'room1_valid',
       'room2_valid', 'room3_valid', 'room4_valid', 'room5_valid',
       'room6_valid', 'room7_valid', 'room8_valid', 'room9_valid',
       'area_valid'],
      dtype='object')

In [13]:
df1.shape

(80788, 24)

In [14]:
df2.shape

(80788, 23)

In [15]:
df = pd.merge(df1, df2, left_on='Image ID',right_on='Image ID', how='inner')

In [16]:
df.shape

(80788, 46)

In [17]:
df.columns

Index(['Unnamed: 0_x', 'Image ID', 'Room 0 Area (sq. meters)',
       'Room 1 Area (sq. meters)', 'Room 2 Area (sq. meters)',
       'Room 3 Area (sq. meters)', 'Room 4 Area (sq. meters)',
       'Room 5 Area (sq. meters)', 'Room 6 Area (sq. meters)',
       'Room 7 Area (sq. meters)', 'Room 8 Area (sq. meters)',
       'Room 9 Area (sq. meters)', 'Total Area', 'room0_valid_x',
       'room1_valid_x', 'room2_valid_x', 'room3_valid_x', 'room4_valid_x',
       'room5_valid_x', 'room6_valid_x', 'room7_valid_x', 'room8_valid_x',
       'room9_valid_x', 'area_valid', 'Unnamed: 0_y', 'Room 0 minW (meters)',
       'Room 1 minW (meters)', 'Room 2 minW (meters)', 'Room 3 minW (meters)',
       'Room 4 minW (meters)', 'Room 5 minW (meters)', 'Room 6 minW (meters)',
       'Room 7 minW (meters)', 'Room 8 minW (meters)', 'Room 9 minW (meters)',
       'room0_valid_y', 'room1_valid_y', 'room2_valid_y', 'room3_valid_y',
       'room4_valid_y', 'room5_valid_y', 'room6_valid_y', 'room7_valid_y',
       'room8_valid_y', 'room9_valid_y', 'width_valid'],
      dtype='object')

In [18]:
filtered_df = df[(df['width_valid'] == True) & (df['area_valid'] == True)]
filtered_df.head()

,Unnamed: 0_x,Image ID,Room 0 Area (sq. meters),Room 1 Area (sq. meters),Room 2 Area (sq. meters),Room 3 Area (sq. meters),Room 4 Area (sq. meters),Room 5 Area (sq. meters),Room 6 Area (sq. meters),Room 7 Area (sq. meters),...,room1_valid_y,room2_valid_y,room3_valid_y,room4_valid_y,room5_valid_y,room6_valid_y,room7_valid_y,room8_valid_y,room9_valid_y,width_valid
2,2,2,38.448303,14.871094,8.429260,5.072388,0.0,0.0,0.0,12.280518,...,True,True,True,True,True,True,True,True,True,True
4,4,4,32.382202,12.814453,5.472839,3.737549,0.0,0.0,0.0,13.081421,...,True,True,True,True,True,True,True,True,True,True
9,9,9,34.621765,15.123230,7.203186,3.342041,0.0,0.0,0.0,12.280518,...,True,True,True,True,True,True,True,True,True,True
16,16,16,27.280151,17.575378,6.451721,5.210815,0.0,0.0,0.0,16.334473,...,True,True,True,True,True,True,True,True,True,True
22,22,22,33.810974,13.417603,9.769043,6.011719,0.0,0.0,0.0,11.311523,...,True,True,True,True,True,True,True,True,True,True

In [19]:
filtered_df.shape

(13315, 46)

In [21]:
filtered_df.to_csv('Updated Filtered Layouts.csv')

In [25]:
filtered_plans=list(filtered_df['Image ID'])

In [26]:
np.save('ValidRoomIndices.npy',filtered_plans)

In [27]:
np.load("ValidRoomIndices.npy",allow_pickle=True)

array([    2,     4,     9, ..., 80747, 80779, 80782])

In [28]:
filtered_df.head()

,Unnamed: 0_x,Image ID,Room 0 Area (sq. meters),Room 1 Area (sq. meters),Room 2 Area (sq. meters),Room 3 Area (sq. meters),Room 4 Area (sq. meters),Room 5 Area (sq. meters),Room 6 Area (sq. meters),Room 7 Area (sq. meters),...,room1_valid_y,room2_valid_y,room3_valid_y,room4_valid_y,room5_valid_y,room6_valid_y,room7_valid_y,room8_valid_y,room9_valid_y,width_valid
2,2,2,38.448303,14.871094,8.429260,5.072388,0.0,0.0,0.0,12.280518,...,True,True,True,True,True,True,True,True,True,True
4,4,4,32.382202,12.814453,5.472839,3.737549,0.0,0.0,0.0,13.081421,...,True,True,True,True,True,True,True,True,True,True
9,9,9,34.621765,15.123230,7.203186,3.342041,0.0,0.0,0.0,12.280518,...,True,True,True,True,True,True,True,True,True,True
16,16,16,27.280151,17.575378,6.451721,5.210815,0.0,0.0,0.0,16.334473,...,True,True,True,True,True,True,True,True,True,True
22,22,22,33.810974,13.417603,9.769043,6.011719,0.0,0.0,0.0,11.311523,...,True,True,True,True,True,True,True,True,True,True

In [29]:
rooms_list=['Room 0 Area (sq. meters)', 'Room 1 Area (sq. meters)',
       'Room 2 Area (sq. meters)', 'Room 3 Area (sq. meters)',
       'Room 4 Area (sq. meters)', 'Room 5 Area (sq. meters)',
       'Room 6 Area (sq. meters)', 'Room 7 Area (sq. meters)',
       'Room 8 Area (sq. meters)', 'Room 9 Area (sq. meters)']

In [30]:
import random
def random_sampling(mean,std_dev):
    lower_bound = mean - std_dev
    upper_bound = mean + std_dev

    # Generate a random number within the range
    random_number = random.uniform(lower_bound, upper_bound)

    print(f"Random number within one standard deviation: {random_number}")

In [31]:
stat_summary=dict()
for i in rooms_list:
    std_dev=np.std(filtered_df[i])
    avg=np.mean(filtered_df[i])
    stat_summary[i]=(avg,std_dev)

print(stat_summary)

{'Room 0 Area (sq. meters)': (33.43589147277431, 7.036223713828846), 'Room 1 Area (sq. meters)': (15.504279405719116, 3.7654815257603778), 'Room 2 Area (sq. meters)': (6.870493120996019, 2.576787001144856), 'Room 3 Area (sq. meters)': (4.725496674477281, 1.5169596248016322), 'Room 4 Area (sq. meters)': (0.09472248738092376, 1.1425439764725245), 'Room 5 Area (sq. meters)': (0.12556222019947427, 1.2913083157476073), 'Room 6 Area (sq. meters)': (0.27335189034570034, 1.8465601972353631), 'Room 7 Area (sq. meters)': (11.369191387604129, 3.7823571828402565), 'Room 8 Area (sq. meters)': (0.030254194122418324, 0.694558377875128), 'Room 9 Area (sq. meters)': (3.803262087344649, 2.4050004647626504)}

In [34]:
stat_summary['Room 0 Area (sq. meters)']

(33.43589147277431, 7.036223713828846)

In [33]:
random_sampling(stat_summary['Room 0 Area (sq. meters)'][0],stat_summary['Room 0 Area (sq. meters)'][1])

Random number within one standard deviation: 31.351378060147525