In [2]:
import pandas as pd
import numpy as np

In [6]:
df1=pd.read_csv(r'E:\Anna University BOOKS & NOTES\SEVENTH SEMESTER\FYP\Phase1\filtered1.csv')
df2=pd.read_csv(r'E:\Anna University BOOKS & NOTES\SEVENTH SEMESTER\FYP\Phase1\filtered3.csv')

In [7]:
df1.columns

Index(['Unnamed: 0', 'Image ID', 'Room 0 Area (sq. meters)',
       'Room 1 Area (sq. meters)', 'Room 2 Area (sq. meters)',
       'Room 3 Area (sq. meters)', 'Room 4 Area (sq. meters)',
       'Room 5 Area (sq. meters)', 'Room 6 Area (sq. meters)',
       'Room 7 Area (sq. meters)', 'Room 8 Area (sq. meters)',
       'Room 9 Area (sq. meters)', 'room0_valid', 'room1_valid', 'room2_valid',
       'room3_valid', 'room4_valid', 'room5_valid', 'room6_valid',
       'room7_valid', 'room8_valid', 'room9_valid', 'area_valid'],
      dtype='object')

In [8]:
df1.shape

(80788, 23)

In [9]:
df2.shape

(80788, 23)

In [10]:
df = pd.merge(df1, df2, left_on='Image ID',right_on='Image ID', how='inner')

In [11]:
df.shape

(80788, 45)

In [12]:
df.columns

Index(['Unnamed: 0_x', 'Image ID', 'Room 0 Area (sq. meters)',
       'Room 1 Area (sq. meters)', 'Room 2 Area (sq. meters)',
       'Room 3 Area (sq. meters)', 'Room 4 Area (sq. meters)',
       'Room 5 Area (sq. meters)', 'Room 6 Area (sq. meters)',
       'Room 7 Area (sq. meters)', 'Room 8 Area (sq. meters)',
       'Room 9 Area (sq. meters)', 'room0_valid_x', 'room1_valid_x',
       'room2_valid_x', 'room3_valid_x', 'room4_valid_x', 'room5_valid_x',
       'room6_valid_x', 'room7_valid_x', 'room8_valid_x', 'room9_valid_x',
       'area_valid', 'Unnamed: 0_y', 'Room 0 minW (meters)',
       'Room 1 minW (meters)', 'Room 2 minW (meters)', 'Room 3 minW (meters)',
       'Room 4 minW (meters)', 'Room 5 minW (meters)', 'Room 6 minW (meters)',
       'Room 7 minW (meters)', 'Room 8 minW (meters)', 'Room 9 minW (meters)',
       'width_valid', 'room0_valid_y', 'room1_valid_y', 'room2_valid_y',
       'room3_valid_y', 'room4_valid_y', 'room5_valid_y', 'room6_valid_y',
       'room7_valid_y', 'room8_valid_y', 'room9_valid_y'],
      dtype='object')

In [13]:
filtered_df = df[(df['width_valid'] == True) & (df['area_valid'] == True)]
filtered_df.head()

,Unnamed: 0_x,Image ID,Room 0 Area (sq. meters),Room 1 Area (sq. meters),Room 2 Area (sq. meters),Room 3 Area (sq. meters),Room 4 Area (sq. meters),Room 5 Area (sq. meters),Room 6 Area (sq. meters),Room 7 Area (sq. meters),...,room0_valid_y,room1_valid_y,room2_valid_y,room3_valid_y,room4_valid_y,room5_valid_y,room6_valid_y,room7_valid_y,room8_valid_y,room9_valid_y
8,8,8,31.373657,14.337158,7.840942,6.941162,0.0,0.0,0.00000,11.761414,...,True,True,True,True,True,True,True,True,True,True
16,16,16,27.280151,17.575378,6.451721,5.210815,0.0,0.0,0.00000,16.334473,...,True,True,True,True,True,True,True,True,True,True
22,22,22,33.815918,13.417603,9.769043,6.011719,0.0,0.0,0.00000,11.311523,...,True,True,True,True,True,True,True,True,True,True
32,32,32,38.626282,13.842773,10.441406,4.538452,0.0,0.0,12.39917,10.901184,...,True,True,True,True,True,True,True,True,True,True
53,53,53,51.959839,19.300781,7.475098,8.646790,0.0,0.0,0.00000,12.967712,...,True,True,True,True,True,True,True,True,True,True

In [14]:
filtered_df.shape

(12424, 45)

In [15]:
filtered_df['Image ID'].head()

8      8
16    16
22    22
32    32
53    53
Name: Image ID, dtype: int64

In [16]:
filtered_plans=list(filtered_df['Image ID'])

In [19]:
len(filtered_plans)

12424

In [20]:
np.save('ValidRoomIndices.npy',filtered_plans)

In [21]:
np.load("ValidRoomIndices.npy",allow_pickle=True)

array([    8,    16,    22, ..., 80763, 80771, 80782])